.splashText {
 	font-family: 'BG Regular', sans-serif;
 	font-size: 2.5em;
 	color: #ffff00;
 	text-align: center;
 	text-shadow: 4px 4px #000A;
    transform: rotate(-20deg);
    transform-origin: center;
    animation: splashTextWobble 0.27s ease-in-out infinite alternate;
}

@keyframes splashTextWobble {
    0% {
        transform: rotate(-20deg) scale(1);
    }
    100% {
        transform: rotate(-20deg) scale(1.07);
    }
}