.escapeScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 5px;

    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.optionsGroup {
    display: flex;
    gap: 10px;
    width: 50%;
    max-width: 400px;
}
