@font-face {
  font-family: 'BG Regular';
  src: url('/fonts/BG-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}