.bg-modal {
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;   
}

.bg-modal .modal-content {
    background: url('/assets/background/dirt.png');
    background-repeat: repeat;
    padding: 80px;
    border-radius: 8px;
    border: 2px solid #00000054;
    max-width: 90%;
    max-height: 90%;
    min-width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-y: auto;
    position: relative;
}

.close-button {
    position: absolute;
    top: 2px;
    right: 4px;
    background: none;
    border: none;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 1;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.1s;
    font-family: monospace;
}

.close-button:hover {
    color: #ededed;
}

.close-button:active {
    transform: scale(0.95);
}