.mainPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bg {
  position: fixed;
  top: -20px;
  left: -20px;
  height: calc(100vh + 40px);
  width: calc(100vw + 40px);
  background-image: url('/assets/background/cherry.jpg');
  background-size: cover;
  background-color: pink;
  filter: blur(10px);
  z-index: -1;
}

.title {
  position: relative;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding-top: 6.7rem; /* yes 6.7 is the perfect value :) */
  flex-shrink: 0;
}

.titleWrapper {
  position: relative;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  flex-shrink: 0;
}

.splashTextWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}

.container {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.content {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.contentLeft {
  display: flex;
  min-width: 40%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contentRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  flex: 1;
}